@model RetireHappy.Models.AvgExpenditure

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div>
    <h4>AvgExpenditure</h4>
    <hr />
    @using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span> Excel File </span><input type="file" name="uploadFile" />
        <br />
        <input type="submit" value="Upload" />
    }
</div>

