@{
    ViewBag.Title = "Home Page";
}

<h1 class="page-header">Start Retiring</h1>

<p><img src="~/Content/images/icon-endownment.png" style="float: right; padding: 0em 0 5em 1em;" />
    Planning for the future doesn't have to cost you the present. Get more out of life now, and later, with a retirement plan that works for you. Because this is your retirement, made different.
</p>
<p>
    You only live once, so there's no time to lose. The journey to retirement is long and takes substantial planning, so you have to start now. Live life to the fullest while ensuring you can achieve your retirement goals.
</p>
<p>    
    You need a plan that works for you, so you can have fun while knowing that your future is taken care of. Be able to support your daily expenses and other financial commitments, using our retirement calculator.
</p>
<p>
    Get more out of life knowing that you are working towards your saving goals and protected against life’s uncertainties – all at once.
</p>